body {
  background-color: rgb(122, 153, 137);
  color: rgb(81, 107, 92);
  font-size: 20px;
  font-family: "Stick No Bills", sans-serif;
}
h1 {
  color: rgb(70, 92, 73);
}
.main-header {
  text-align: center;
}
#body {
  color: black;
}
.body {
  text-align: center;
}
#body {
  text-align: center;
}
#h2 {
  text-align: center;
}
